@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-bg-dark: #ffffff;
  --color-bg:#Fdf7e6;
  --color-text: #272727;
}

html.dark {
  --color-bg: #161616f2;
  --color-bg-dark: #161616f2;
  --color-accent: #2294ff;
  --color-text: #fdfffd;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  @apply flex flex-col items-center;
  color: var(--color-text);
  background-color: var(--color-bg-dark);

}

#root {
  @apply w-full max-w-screen-xl;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
